.highlight-box {
	zoom:1;
	padding:15px 20px 10px 20px;
	border:1px solid #D7D9E8;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow:0 2px rgba(0,0,0,0.05), 0 -2px rgba(0,0,0,0.05) inset;
	-moz-box-shadow:0 2px rgba(0,0,0,0.05), 0 -2px rgba(0,0,0,0.05) inset;
	box-shadow:0 2px rgba(0,0,0,0.05), 0 -2px rgba(0,0,0,0.05) inset;
	
	background-color: #FFF;
	
	background-image: url(img/zemoga/vertical-lines.png), -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.25, rgb(244,250,255)),
		color-stop(0.57, rgb(255,255,255))
	);
	background-image: url(img/zemoga/vertical-lines.png), -moz-linear-gradient(
	    center bottom,
	    rgb(244,250,255) 25%,
	    rgb(255,255,255) 57%
	);
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#FFFFFF', EndColorStr='#f4faff', GradientType=0);
}
	.highlight-box .header {
		color: #444;
		background: url(img/zemoga/bg_highlightbox_header.png) repeat-x 0 100%;
		border-radius: 6px 6px 0 0;
		height: 98px;
		margin: -15px -20px 0;
	    position: relative;
	}
		.highlight-box .header h2 {
			left: 33px;
			font-family: Verdana, sans-serif;
			font-style: normal;
			margin: 0;
		    position: relative;
			top: 33px;
		}
	.highlight-box .help_bulb {
		background: url(img/zemoga/sprites.png) no-repeat 0 -129px;
		display: block;
		height: 18px;
		left: 100px;
	    position: absolute;
	    top: 1px;
		width: 16px;
	}
	.highlight-box .msg_warning {
		background: url(img/zemoga/sprites.png) no-repeat 0 -173px;
		color: #af6f13;
		padding-left: 25px;
	}
	
	
	
	
input{
	font-family: Georgia,serif;
	font-size:110%; /* 14px */
	font-style:italic;
	color:#393939;
	line-height:18px;
	margin:0;
	padding:0;
}

input[type="submit"]{
	zoom:1;
	padding:4px 12px;
	border:1px solid #B3C8D7;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:0 2px rgba(0,0,0,0.05), 0 -2px rgba(224,239,249,0.9) inset;
	-moz-box-shadow:0 2px rgba(0,0,0,0.05), 0 -2px rgba(224,239,249,0.9) inset;
	box-shadow:0 2px rgba(0,0,0,0.05), 0 -2px rgba(224,239,249,0.9) inset;
	background: #FFFFFF;	
	cursor:pointer;
}

	input[type="submit"]:hover{
		background-image: url(img/zemoga/vertical-lines.png), -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.25, rgb(244,250,255)),
	    color-stop(0.57, rgb(255,255,255))
		);
		background-image: url(img/zemoga/vertical-lines.png), -moz-linear-gradient(
		    center bottom,
		    rgb(244,250,255) 25%,
		    rgb(255,255,255) 57%
		);
	   filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f4faff', EndColorStr='#FFFFFF', GradientType=0);
	}


input[type="text"],
input[type="password"]{
	color: #999;
	zoom:1;
	padding:5px 6px;
	border:1px solid #CDCDCD;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:0 0 3px rgba(0,0,0,0.2) inset;
	-moz-box-shadow:0 0 3px rgba(0,0,0,0.2) inset;
	box-shadow:0 0 3px rgba(0,0,0,0.2) inset;
	background: #FFFFFF;	
}

div.divider-medium{
	width:100%;
	height:20px;
	background:transparent url(img/zemoga/sprites.png) no-repeat center -2px;
}
#affiliates #main-feature {
	padding-top: 60px;
}
div.tool-tip {
	background: #F4F9FF;
	background: -moz-linear-gradient(center bottom , rgba(244,249,255,0.9) 30%,rgba(244,249,255,0.9) 70%) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(244,249,255,0.9)), to(rgba(244,249,255,0.9)));
	box-shadow: 0 4px rgba(0, 0, 0, 0.1), 0 -3px #e4eef9 inset, 0 0 4px #adc1d7 inset;
	border-radius: 5px 5px 5px 5px;
	border: solid 1px #adc1d7;
	display: none;
	padding: 5px 15px;	
	position: absolute;
	z-index: 1;
	
}
#content div.tool-tip p {
	color: #637b95;
	font-family: Georgia,serif;
	font-size: 14px;
	font-style: italic;
	line-height: 17px;
	padding-top: 14px;
}
div.top-arrow span {
	background: url("img/zemoga/top-arrow.png") no-repeat scroll 0 0 transparent;
    height: 26px;
    margin-left: 130px;
    margin-top: -22px;
    position: absolute;
    width: 36px;
    z-index: 1;
}
div.left-arrow span {
	background: url("img/zemoga/left-arrow.png") no-repeat scroll 0 0 transparent;
    height: 36px;
    margin-left: -32px;
    margin-top: 5px;
    position: absolute;
    width: 26px;
    z-index: 1;
}
/*steps for affiliates*/
#content-nav ul li
{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #e6ebf1;
    border-radius: 4px 4px 4px 4px;    
    cursor: pointer;
    padding: 7px 0px;
    width: 154px;
    float: left;
    margin: 0 15px 5px 0;
    list-style: none;
    color:#5e5e5e;
    font-family: 'MuseoSans500';
    text-align: center;
}
#content-nav ul li.active
{
	box-shadow: 0 2px rgba(0, 0, 0, 0.05), 0 -2px rgba(224, 239, 249, 0.9) inset;
	color:#4577a6;
}
#steps-started
{
	width: 642px;
	padding: 0;
	
}
#steps-started h3
{
	font-family: 'MuseoSans500';
	font-size: 30px;
	font-style:normal;
	color: #39393a;
	padding: 20px;
}
#steps-started ul.steps-buttons{
	background: none repeat scroll 0 0 #d3dfe7;
	/*border: 1px solid #b4c8d6;*/	
	
}
	#steps-started ul.steps-buttons li{
		background: none repeat scroll 0 0 #FFFFFF;
		height: 63px;
		width: 189px;
		list-style: none;
		float: left;
		color:#474848;
		padding-top:11px;
		background: url("/img/zemoga/sprite-steps.png") no-repeat scroll 0 0 #FFFFFF;
		
	}
	
	#steps-started ul.steps-buttons li.first{
		
		width: 187px;
		background: url("/img/zemoga/sprite-steps.png") no-repeat scroll 0 0 #FFFFFF;
		
	}
	#steps-started ul.steps-buttons li.second{
		
		width: 215px;
		background: url("/img/zemoga/sprite-steps.png") no-repeat scroll 0 0 #FFFFFF;
		
	}
	#steps-started ul.steps-buttons li.third{
		
		width: 240px;
		background: url("/img/zemoga/sprite-steps.png") no-repeat scroll 0 0 #FFFFFF;
		
	}
	#steps-started ul.steps-buttons li.active{
		background-position: 0 -222px;
		color: #FFFFFF;
	}
	#steps-started ul.steps-buttons li.next-active{
		background-position: 0 -74px;
	}
	#steps-started ul.steps-buttons li span{		
		font-family: 'MuseoSans500';
		font-size: 26px;
		padding-left: 32px; 
	}
	