@font-face {
	font-family: 'MetaScWeb';    
    src: local('☺'), url('fonts/MetaScWeb-Normal.woff') format('woff');
    

}
@font-face {
	font-family: 'MetaScWebPro';    
    src: local('☺'), url('fonts/MetaScWebPro-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'MetaWeb';    
    src: local('☺'), url('fonts/MetaWeb-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'MetaWebPro';    
    src: local('☺'), url('fonts/MetaWebPro-Normal.woff') format('woff');
     font-weight: normal;
    font-style: normal;   
}
@font-face {
	font-family: 'MetaWebProBlackIta';    
    src: local('☺'), url('fonts/MetaWebPro-BlackIta.woff') format('woff');
    font-weight: normal;
    font-style: bold;    
}
@font-face {
	font-family: 'MetaWebProBold';    
    src: local('☺'), url('fonts/MetaWebPro-Bold.woff') format('woff');
    font-weight: normal;
    font-style: bold;
}

@font-face {
	font-family: 'MetaWebProBook';    
    src: local('☺'), url('fonts/MetaWebPro-Book.woff') format('woff');
    
}
@font-face {
	font-family: 'MetaWebProCondNorma';    
    src: local('☺'), url('fonts/MetaWebPro-CondNormal.woff') format('woff');
    
}

@font-face {
	font-family: 'MetaWebProCondNormalItalic';    
    src: local('☺'), url('fonts/MetaWebPro-CondNormalItalic.woff') format('woff');
    
}
@font-face {
	font-family: 'MetaWebProCondXbold';    
    src: local('☺'), url('fonts/MetaWebPro-CondXbold.woff') format('woff');
    
}
@font-face {
	font-family: 'MetaWebProBlack';    
    src: local('☺'), url('fonts/MetaWebPro-Black.woff') format('woff');
    
}
@font-face {
	font-family: 'MetaWebProThinIta';    
    src: local('☺'), url('fonts/MetaWebPro-ThinIta.woff') format('woff');
    
}
@font-face {
	font-family: 'MetaScWebProMediumIta';    
    src: local('☺'), url('fonts/MetaScWebPro-MediumIta.woff') format('woff');
    
}
@font-face {
	font-family: 'MetaWebProBlackIta';    
    src: local('☺'), url('fonts/MetaWebPro-BlackIta.woff') format('woff');
    
}

p{
	font-size:24px;
}
span{
	font-size:20px;
}
.metascweb{
	font-family: "MetaScWeb";
	
}

.metaScWebPro{
	font-family: "MetaScWebPro";
	
}
.metaWeb{
	font-family: "MetaWeb";
	
}
.metaWebPro{
	font-family: "MetaWebPro";
	
}
.metaWebProBlackIta{
	font-family: "MetaWebProBlackIta";
	
}
.metaWebProBold{
	font-family: "MetaWebProBold";
	
}
.metaWebProBook{
	font-family: "MetaWebProBook";	
}
.metaWebProCondNorma{
	font-family: "MetaWebProCondNorma";	
}
.metaWebProCondNormalItalic{
	font-family: "MetaWebProCondNormalItalic";	
}
.metaWebProCondXbold{
	font-family: "MetaWebProCondXbold";	
}
.metaWebProBlack{
	font-family: "MetaWebProBlack";	
}
.metaWebProThinIta{
	font-family: "MetaWebProThinIta";	
}
.metaScWebProMediumIta{
	font-family: "MetaScWebProMediumIta";	
}
.metaWebProBlackIta{
	font-family: "MetaWebProBlackIta";	
}
