#home-registration-forms{
	float:right;
	margin: 120px 8px 0;
	padding: 25px 25px 45px;
	width: 345px;
}
	#home-registration-forms input[type="text"],
	#home-registration-forms input[type="password"]{
		margin-bottom: 10px;
		margin-right: 8px;
		width: 105px;
	}
	#home-registration-forms label{
		margin: 0 25px 0 5px;
	}
	#home-registration-forms div.divider-medium{
		margin-top:11px;
		margin-bottom:10px;
	}
	#home-registration-forms span{
		font-size:170%;	
		font-style:italic;
		line-height:169%;
	}
	#home-registration-forms p{
		font-size:113%;
		line-height:125%;
	}
	#home-registration-forms .register {
		background: -moz-linear-gradient(center top, #669BE1 0%, #5784BF 100%) repeat 0 0;
		background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #5784BF), color-stop(1, #669BE1) );
		border: none;
		box-shadow: 0 1px rgba(0, 0, 0, 0.05), 0 -2px rgba(224, 239, 249, 0.9) inset;
		color: #fff;
		display: block;
	    font-size: 120%;
	    margin-top: 15px;
	    padding: 6px 12px;
	    width: 170px;
	}
	#home-registration-forms .register:hover {
		box-shadow: 0 1px rgba(0, 0, 0, 0.1), 0 -2px rgba(224, 239, 249, 0.9) inset, 0 0 100px rgba(255, 255, 255, 0.1) inset;
	}

	#register-form input[type="text"],
	#register-form input[type="password"]{
		display: block;
	    font-size: 120%;
	    margin-bottom: 15px;
	    padding: 8px 6px;
	    width: 235px;
	}
	#register-form .agree_chk {
		float: left;
	}
	#register-form label {
		display: block;
    	padding-left: 20px;
		width: 275px;
	}
	
#content.background_illo {
	background: url(img/zemoga/illo.png) no-repeat 98% 10px;
	min-height: 390px;
	padding: 0 200px 0 0;
	width: 325px;
}
	#content h2 {
		font-size: 40px;
	}
		#content h2 spam {
			display: block;
		}
	#content p {
		font-size: 20px;
		width: 310px;
	}
	#content p a {
		font-style: italic;
	}
	#content .divider-medium {
		margin-bottom: 10px;
	}
		#content button {
		background: #FFF;
		color: #4F4F4F;	
		cursor:pointer;
		font-family: Georgia,serif;
		font-size: 16px;
	    font-style: italic;
	    margin-bottom: 8px;
	    padding: 6px 12px;
		zoom: 1;
		border: 1px solid #B3C8D7;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		border-radius:4px;
		-webkit-box-shadow:0 2px rgba(0,0,0,0.05), 0 -2px rgba(224,239,249,0.9) inset;
		-moz-box-shadow:0 2px rgba(0,0,0,0.05), 0 -2px rgba(224,239,249,0.9) inset;
		box-shadow:0 2px rgba(0,0,0,0.05), 0 -2px rgba(224,239,249,0.9) inset;
	}
	#content .share_twitter {
		background: #FFF url(img/zemoga/sprites.png) no-repeat 10px -43px;
		padding-left: 50px;
    	width: 220px;
	}
	#content .share_facebook {
		background: #FFF url(img/zemoga/sprites.png) no-repeat 10px -86px;
		padding-left: 50px;
    	width: 220px;
	}
#content.thank_you {
	
}
	#content.thank_you p {
		color: #444;
		font-size: 15px;
		width: auto;
	}
	#content.thank_you p span {
		color: #999;
		display: block;
		font-size: 15px;
		width: auto;
	}
